/* Table of Contents

1. Orange Page
  1.1 Global Styles
  1.2 Valencia Page (First Section)
  1.3 Timeline Page (Second Section)
  1.4 Farmer Corner Page (Third Section)
  1.5 Process Page (Fourth Section)
  1.6 Critic Page (Fifth Section)

*/

/*
=============== 
Orange Page
===============
*/

/* Global Styles */

.orange-section {
  margin: 0px 0px;
  padding: 0px 0px;
}

.orange-subsection {
  color: black;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  max-height: 500vh;
  overflow: scroll;
  text-align: center;
}

.orange-subsection img {
  border-radius: 2em;
  border: 5px solid green;
  width: 80%;
  height: auto;
  margin-top: 35px;
  margin-bottom: 50px;
}

/* 1.2 Valencia Page (First Section) */

.first-section-color {
  background-color: #ff8940;
}

.section-title {
  margin: 10px;
  padding: 10px;
}

.orange-responsive-image-container {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin: 0px auto;
}

.subsection-title {
  margin: 30px 5px;
  padding: 10px;
}

/* 1.3 Timeline Page (Second Section) */

.second-section-color {
  background-color: #ffac79;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #7a590a;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  margin: 10px 10px;
  padding: 10px 40px 10px 40px;
  position: relative;
  width: 50%;
}

.timeline-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -4px;
  background-color: #4f3a08;
  border: 4px solid #7a590a;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-left {
  left: 0;
}

.timeline-right {
  left: 50%;
}

.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent green;
}

.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent green transparent transparent;
}

.timeline-right::after {
  left: -22px;
}

.timeline-content-first {
  padding: 20px 30px;
  background-color: #fa9c37;
  position: relative;
  border-radius: 6px;
  border: 5px solid #ff6f00;
  color: black;
}

.timeline-content-first img {
  margin: 0px;
  width: 80px;
  height: 80px;
  border: none;
}

.timeline-content-first p,
.timeline-content-first h3,
.timeline-content h2,
.timeline-content h3,
.timeline-content p {
  color: black;
}

.timeline-content {
  padding: 20px 30px;
  background-color: #28bd37;
  position: relative;
  border-radius: 6px;
  border: 5px solid green;
}

.timeline-content img {
  margin: 0px;
  width: 80px;
  height: 80px;
  border: none;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent green transparent transparent;
  }

  .timeline-left::after,
  .timeline-right::after {
    left: 15px;
  }

  .timeline-right {
    left: 0%;
  }
}

/* 1.4 Farmer Corner Page (Third Section) */

.third-section-color {
  background-color: #fab733;
}

.farmer-container {
  display: flex;
  flex-wrap: wrap-reverse;
  text-align: center;
  margin: 25px 5px;
  justify-content: center;
}

.farmer-container .farmer-section-left {
  flex-basis: 48%;
  align-self: center;
  margin: 5px;
}

.farmer-container .farmer-section-right {
  flex-basis: 48%;
  margin: 5px;
}

.farmer-container .farmer-section-left p {
  max-width: 600px;
  margin: 0px auto;
}

.farmer-container .farmer-section-right img {
  max-width: 600px;
  min-width: 200px;
}

@media screen and (max-width: 510px) {
  .farmer-container > .farmer-section-left {
    flex-basis: 100%;
  }
  .farmer-container > .farmer-section-right {
    flex-basis: 100%;
  }
}

/* 1.5 Process Page (Fourth Section) */

.fourth-section-color {
  background-color: #acb334;
}

.shell-container2 {
  margin: 50px 0px;
  vertical-align: middle;
}

.resp-image-shell {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 600px) {
  .resp-image-shell {
    width: 350px;
    height: 197px;
  }
}

@media screen and (max-width: 360px) {
  .resp-image-shell {
    width: 262px;
    height: 147px;
  }
}

@media screen and (min-width: 1200px) {
  .resp-image-shell {
    width: 1024px;
    height: 576px;
  }
}

.orange-buy-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1240px;
  margin: 5px auto;
}

.orange-buy-section {
  flex-basis: 48%;
  padding: 20px;
  margin: 5px;
}

@media screen and (max-width: 1100px) {
  .orange-buy-section {
    flex-basis: 100%;
    padding: 20px;
    max-width: 800px;
    margin: 5px auto;
  }
}

/* 1.6 Critic Page (Fifth Section) */

.fifth-section-color {
  background-color: #69b34c;
}

.quote-container {
  text-align: center;
  margin: 20px auto;
  padding: 5px;
  max-width: 1240px;
}

.quote-container h2 {
  color: black;
}
.quote-container h4 {
  color: black;
}

.orange-review-container {
  display: flex;
  margin: 10px 10px;
}

.indiv-review {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin: 10px auto;
  padding: 10px auto;
  max-width: 1240px;
}

.indiv-review-section {
  flex-basis: 48%;
  align-self: center;
  margin: 5px;
  text-align: center;
}

.indiv-review-section img {
  border-radius: 2em;
  max-height: 202px;
  max-width: 200px;
  min-width: 140px;
}

.indiv-review-text {
  vertical-align: middle;
}

.indiv-review-text h3 {
  color: black;
}

.critical-review-text {
  margin: 10px 0px;
  padding: 10px 0px;
}

.critical-review-text blockquote {
  text-indent: -0.45em;
  text-align: left;
}

@supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

blockquote {
  quotes: "“" "”" "‘" "’";
}

@media screen and (max-width: 520px) {
  .indiv-review {
    flex-basis: 50%;
  }
  .indiv-review-section {
    flex-basis: 100%;
  }

  .indiv-review-section img {
    margin: 0px 0px;
  }
}

.orange-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 10vw;
  margin: 0 auto;
  min-height: 20vh;
  font-size: 1vw;
}

.button1 {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px 50px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5-px black;
  border-radius: 1.5em;
  font-size: 20px;
}

.button1:hover {
  box-shadow: 0 0 12px #ff9217;
  background: #e38822;
}

.btn-color-1 {
  background: #f5a142;
}
