/* Table of Contents

1. Error 
  1.1 Styles
 
*/

/*
=============== 
Error 
===============
*/

/* 1.1 Styles */

.error-container {
  margin: 75px auto 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  text-align: center;
  justify-content: center;
}
.error-container img {
  max-width: 450px;
  width: 75%;
  height: auto;
  margin: 10px 20px;
}

.error-container p {
  margin: 10px 20px;
  color: var(--clr-dark_mode_white);
}
